%h2.green Kulturhof "Vier Seiten"
%h3 Der Raum
.text
  In dem schönen Ort Pannigkau (Ortsteil von Kemberg), in der Pannigkauer Dorfstr. 15, entsteht ein Kulturhof mit sozialem Selbstverständnis. Der Ort Pannigkau bietet durch seinen   historischen Charakter mit der Kastanien- und Lindenallee touristischen, aber auch nachbarschaftlichen Reiz. Der Vierseitenhof Nr. 15 atmet ebenfalls noch diese Atmosphäre. Dabei stehen die vier Seiten im Namen des Kulturhofes für die vier inhaltlichen Pfeiler des Hofes: 
#luftbildlogo
%ul.about
  %li Sozial
  %li Kultur
  %li Bildung
  %li Nachbarschaft
  
.clearfix

%h3 Der Initiator
.text
  Den unter Ensembleschutz stehenden Hof hat Günther Hornberger, einer der Gründungsmitglieder, 
  vor kurzem erworben. Er ist zum einem seit vielen, vielen Jahren als Sozialarbeiter tätig:
  %br
  %br
  %ul.arrows
    %li Soziale Gruppenarbeit mit Kindern und Jugendlichen
    %li Hilfe zur Erziehung (Einzel- und Gruppenarbeit)
    %li Schulsozialarbeit
    %li Präventionsarbeit gegen sexuellen Missbrauch
    %li im Bereich mit Menschen mit Beeinträchtigung (Schule und Reisebegleitung)
    %li diverse Gruppenarbeit mit Erwachsenen (Elterngruppen, Schuldenprävention, Kreatives Schreiben)
    %li Bachelorabschluss mit Auszeichnung und Fachveröffentlichung zum Thema "Inklusion und Sozialraum"
    %li Regisseur/Theaterleiter des Amateur- Theaters "Theater in der Scheune" - Schönwalde-Glien
    %li z.Zt. an der Schnittstelle Sozialarbeit/Kultursozialarbeit tätig im ESF-geförderten "Projektladen Drewitz" Potsdam
  %br
  Zum anderen ist er von Jugend an freischaffender Künstler: 
  %br
  %br
  %ul.arrows
    %li Liedermacher (Preisträger der „Goldenen Hoyschrecke“, außerordentliches GEMA-Mitglied, z.Zt. im Vorstand des Landesverbandes PROFOLK Berlin e.V.)
    %li Autor von Lyrik und Prosa (ehemals Mitglied im VS Berlin, bis vor kurzem Vorsitzender des Literatur-Kollegiums-Brandenburg e.V.)
    %li Kindertheaterautor, -schauspieler und -regisseur
    %li Lyrikübersetzung aus dem Spanischen
    %li zwei Jahre Betrieb einer Galerie für Angewandte Kunst "Form & Stil" in Berlin-Wilmersdorf.
    





