%h2.green Der Förderverein und seine Inhalte
.text.margin
  Die vier Seiten des Kulturhofes spiegeln sich auch in den dort geplanten Angeboten wieder:
%br
%br
%h3 A) Sozial: 
%ol.left
  %li Offene Sozialberatung
  %li Offene Erziehungsberatung
  %li Präventive Schuldnerberatung
  %li Betreuungsangebote
  %li „Dorfkümmerer“
  %li Einrichtung einer Facherziehungsstelle auf dem Hof (Günther Hornberger für Kurs-Wechsel e.V.)
  

#theater
%h3 B) Kultur:
%ol.left
  %li Dorf-Theater (Amateur) unter der künstlerischen Leitung von Günther Hornberger, der u.a. die letzten drei Jahre das Theater in der Scheune – Schönwalde-Glien geleitet hat. 
  %li inrichtung eines Aufenthaltsstipendiums für Künstlerinnen und Künstler, die mindestens zwei Kunstformen aktiv bedienen (bspw. Musik/Text, Text/Bühne, Bühnenbild/Musik)
  %li Kleinkunstveranstaltungen (Liedermacher, Kabarett)
  %li Lesungen, Vorträge, Konzerte
  %li Verlagsarbeit (ab 2015)
  

#learning
%h3.right C) Bildung:
%ol.right
  %li Kurse und Projekte zu verschiedenen Inhalte (Schreibwerkstatt, Malen, Kräuterlerngarten etc.) 
  %li ehrenamtlich organisierte Schülerhilfe
  %li Leihbücherei und Lesezirkel
  %li gesundheitsfördernde Sportangebote 
  %li Projekte mit Kitas und Schulen im Verbund
  
.clearfix

%h3 D) Nachbarschaft
%ol
  %li Freizeitangebote für Jung und Alt (Boule)
  %li kleine Dorf- oder Hoffeste zu besonderen Anlässen
  %li Überlassung der Gemeinschaftsräume für Familienfeiern etc.
  %li Netzwerkarbeit im Ort, in der Region, im Landkreis und darüber hinaus
  %li Angebote, die von den Bewohnern selbst kommen, werden gefördert
  

  
  