%h2.green Spendenaufruf
.text.margin
  Der gemeinnützige Verein „SozialKulturRaum e.V.“ hat sich vieles vorgenommen und auch schon einiges davon auf den Weg gebracht. Zum Beispiel ist der Verein nun im Vereinsregister Stendal eingetragen und hat die Anerkennung der Gemeinnützigkeit Seitens des Finanzamtes für Körperschaften.
  %br
  %br
  Zudem hat sich unter der Leitung unseres Vorsitzenden bereits eine Theater/Kabarettgruppe gegründet, die sich regelmäßig auf dem Hof trifft und übrigens noch Mitmacherinnen und Mitmacher sucht, ob nun vor, hinter oder auf der Bühne. Um später nach den Proben überhaupt Theater aufführen zu können, müssen der Theaterraum (Stall) und die Gästetoiletten in der Waschküche nebenan ausgebaut werden. Alles natürlich unter Berücksichtigung bauordnungsamtlicher Auflagen (Brandschutz, Fluchtmöglichkeiten etc.).
  %br
  %br
  Für den geplanten Kräuterlerngarten ist das erste Beet schon vorbereitet und wartet darauf, bestückt zu werden.
  %br
  %br
  Und das erste Fest für die Dorfbewohner von Pannigkau und Gäste fand bereits statt am 2. Advent 2013. Dafür hat es schon viele Unterstützer geben. Das finden wir besonders toll. Danke an dieser Stelle. 
  
  %br
  %br
  Im Frühjahr soll auch die Boulebahn gebaut werden, damit dann jede/r, die/der Lust hat, jeden Sonntag um 10:30 Uhr Boule spielen kann. Der Verein ist dafür übrigens auf der Suche nach Eisenbahnschwellen als Begrenzung.
  %br
  %br
  Das alles wird viele Unterstützer, das heißt Mitmacherinnen/Mitmacher und auch einiges Geld brauchen. Und nicht alles wird der Verein allein „erwirtschaften“  oder durch Fördergelder sammeln können. Deshalb hier die Bitte, nicht zu zögern unsere Vorhaben auch finanziell zu unterstützen. Das geht entweder als Fördermitglied, und damit regelmäßig, oder wie es gerade passt. Und mal ganz ehrlich, jeder Betrag, wenn auch noch so klein, hilft.
  %br
  %br
  Natürlich stellen wir auf Wunsch eine Spendenquittung aus.
  %br
  %br
  Wir danken im Voraus und grüßen nachbarschaftlich.

#donation-box
  %h3 Spenden an:
  %table
    %tr
      %td Kontoinhaber: 
      %td SozialKulturRaum e.V.
    %tr  
      %td Konto: 
      %td 101014414
    %tr
      %td BLZ:
      %td 80550101
    %tr
      %td Vereinsregisternummer:
      %td Amtsgericht Stendal / VR3660

  