%h2.green Anfahrt
.text
  %h3 Die Anschrift des Hofes:
  %br
  Pannigkauer Dorfstrasse 15
  %br
  06901 Pannigkau, Eutzsch ‎
  
  %h3 Kartenansicht
  %iframe{frameborder: "0", height: "550", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=Dorfstra%C3%9Fe+15,+06901,+Pannigkau,+Eutzsch&aq=&sll=51.810922,12.624773&sspn=0.011263,0.0159&ie=UTF8&hq=&hnear=Dorfstra%C3%9Fe+15,+Pannigkau+06888+Eutzsch&ll=51.810923,12.624772&spn=0.011263,0.0159&t=m&z=14&output=embed", width: "600"}
  %br/
  %small
    %a{href: "https://maps.google.de/maps?f=q&source=embed&hl=de&geocode=&q=Dorfstra%C3%9Fe+15,+06901,+Pannigkau,+Eutzsch&aq=&sll=51.810922,12.624773&sspn=0.011263,0.0159&ie=UTF8&hq=&hnear=Dorfstra%C3%9Fe+15,+Pannigkau+06888+Eutzsch&ll=51.810923,12.624772&spn=0.011263,0.0159&t=m&z=14", target: "_blank", style: "color:#0000FF;text-align:left"} Größere Kartenansicht
    
    