%h2.green Anfahrt
.text
  %h3 Die Anschrift des Hofes:
  %br
  Pannigkau
  %br
  Pannigkauer Dorfstrasse 1
  %br
  06901 Eutzsch ‎
  
  %h3 Kartenansicht
  %iframe{frameborder: "0", height: "550", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=pannigkauer+dorfstrasse+15&aq=&sll=52.506844,13.424732&sspn=0.709653,1.702881&ie=UTF8&hq=&hnear=Dorfstra%C3%9Fe+15,+06888+Eutzsch&t=m&z=14&iwloc=A&ll=51.822079,12.636258&output=embed", width: "600"}
  %br/
  %small
    %a{href: "https://maps.google.de/maps?f=q&source=embed&hl=de&geocode=&q=pannigkauer+dorfstrasse+15&aq=&sll=52.506844,13.424732&sspn=0.709653,1.702881&ie=UTF8&hq=&hnear=Dorfstra%C3%9Fe+15,+06888+Eutzsch&t=m&z=14&iwloc=A&ll=51.822079,12.636258", target: "_blank", style: "color:#0000FF;text-align:left"} Größere Kartenansicht
    
    