// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General

.articles{
  .article{
    margin: 20px 0;
    .date{
      float:left;
      width: 65px;
      height:50px;
      font-size: 10px;
      background-image: image-url("calendar_icon.png");
      background-repeat: no-repeat;
      span{
        font-size: 14px;
        margin-left: -17px;
        text-align: center;
        display: block;
        margin-top: 17px;
        line-height: 14px;
      }
    }
    .title{
      color: #C30075;
    }
    .description{
      font-size: 12px;
      margin-left: 65px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .read_more{
      clear:both;
      margin-top: 5px;
      background-color: #06428b;
      a{
        padding-left: 65px;
        color: white;
        text-decoration:none;
        font-size: 12px;
        font-weight:normal;
        line-height: 24px;
        display: block;
        height: 100%;
      }
    }
  }
}


#events{
  h2{
    font-size: 18px;
    color: #009242;
    margin-bottom: 5px;
  }
  a{
    color:#363636;
    width:100%;
    padding: 5px 0;
    display:block;
    text-decoration:none !important;
    .title{
      width: 70%;
      float:left;
      height:100%;
    }
    .date{
      color: #c30075;
      height:100%;
      
    }
    &:hover{
     background-color:#ccc; 
    }
    &:visited{
     text-decoration:none; 
    }
  }  
}

#gallery{
  h2{
    font-size: 18px;
    color: #C30075;
    margin-bottom: 5px;
  }
}







